* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100VH;
  background-color: #EAE5E1;
}

.first {
  font-family: "The Seasons";
  color: #7D7463;
  font-size: 199px;
}

.first span {
  color: #A34723;
  font-size: 120px;
}

.initial-styles {
  position: relative;
  z-index: 1;
}

.smoke{
  position: absolute;
}


 .second h1{
 color: #A34723;
 font-size: 23.3px;
 font-family: "Aileron";
}

.second h2 {
  color: #6B8272;
  font-size: 14px;
  font-family: "The Seasons";
}

/*
.third {
  background-image: url(./assets/img/third-sections-background.png);
}

.fourth {
  background-image: url(./assets/img/fourth-sections-backgroud.png);
}  */

.second, .third {
  flex-wrap: wrap;
}

.content-second-section {
  position: relative;
  display: flex;
  max-width: 50%;
  flex-wrap: wrap;
}

.second-section-references {
  position: absolute;
  bottom: -30px;
  right: 50px;
}

.content-third-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-names, .more-names {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.invites {
  display: flex;
  flex-direction: column;
}

.parents-names {
  justify-content: center;
  align-items: center;
}

.informations {
  display: flex;
  width: 50%;
  flex-direction: column;
  align-items: center;
}	

.day-information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.more-informations {
  text-align: center;
}

.fourth {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  max-width: 500px;
}